body {
	font: 12px/1.231 $base-font;
	background-color: #e7e7e7;
	color: #404040;
	letter-spacing: 0.5px;
	min-width: 1440px;
}

select , input {
	font-family : $base-font;
}

input[type="radio"],
input[type="checkbox"],
label {
	cursor : pointer;
}


//Ajax Loading CSS
.ajaxlodingimg {
	width:168px;
	height:124px;
	overflow:hidden;
	text-indent:-999em;
	background:url(../../imgs/common/ajaxloding.gif) no-repeat
}