@import "import/variable";
@import "import/font";
@import "import/mixin";
@import "import/common";
@import "import/header";
@import "import/tooltipster";
@import "create_campaign/popup";



/* List Step Style  */

.list-step {
	box-shadow: $box-shadow-default;
	@include clfix;
	li {
		background-color: #fff;
		color: #3b5998;
		float: left;
		text-align: center;
		line-height: 45px;
		position: relative;
		font-size: 17px;
		width: percentage((100/5)*0.01); // (100% / 나올갯수)*0.01 (%로 만들기 위해)
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: -21px;
			top: 0;
			width: 21px;
			height: 45px;
			background-image: url(../../images_v1/bg/list-step_normal.png);
			z-index: 5;
		}
		&.active {
			background-color: #3b5998;
			color: #fff;
			&:after {
				background-image: url(../../images_v1/bg/list-step_active.png);
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

/* Common Style */
.container {
	padding: 0 55px;
}
.contents {
	> .btn-align-center {
		margin-top : 35px;
		text-align: center;
		button {
			&:nth-child(2){
				margin-left : 10px;
			}
		}
	}
	.content {
		@include clfix;
		margin-top: 10px;
		h4 {
			color : #3b5998;
			font-size : 15px;
		}
	}

	&.campaign {
		h4 {
			float: left;
			width: 130px;
		}
		.col-campaign,
		.col-buying-type {
			width: 49.54887218045113%;
			background-color: #fff;
			box-sizing: border-box;
			border: 1px solid #d8d8d8;
			box-shadow: $box-shadow-default;
			padding: 12px 35px;
			h4 {
				line-height: 25px;
			}
			label {
				@include button-type-radio();
			}

		}
		.col-campaign {
			float: left;
		}
		.col-buying-type {
			float: right;
		}
		.row-wrap {
			background-color: #fff;
			box-shadow: $box-shadow-default;
			padding: 0 35px;
		}
		.row-campaign-type {
			@include clfix;
			border-bottom: 1px solid #a1a1a1;
			padding: 32px 0;
			h4 {
				line-height: 42px;
			}

			// Campaing Type List에 관련된 스타일
			.list-campaign-type {
				@include icon-style-select();

				.rnf-comment ,
				.rnf-gift-box ,
				.rnf-video ,
				.rnf-click ,
				.rnf-refresh ,
				.rnf-multi-product ,
				.rnf-app-install ,
				.rnf-app-engagement {
					&:before {
						content : '';
						display : inline-block;
						width : 14px;
						height : 15px;
						background-image : url(../../images_v1/icon/icon-campaign-rnf.png);
						vertical-align : middle;
						float : left;
						margin : 7px 5px 0 5px;
					}
				}
				.rnf-comment {
					&:before {
						background-position : 0 -75px;
					}
				}
				.rnf-gift-box {
					&:before {
						background-position : 0 -90px;
					}
				}
				.rnf-video {
					&:before {
						background-position : 0 -105px;
					}
				}
				.rnf-click {
					&:before {
						background-position : 0 -30px;
					}
				}
				.rnf-refresh {
					&:before {
						background-position : 0 -60px;
					}
				}
				.rnf-multi-product {
					&:before {
						background-position : 0 -75px;
					}
				}
				.rnf-app-install {
					&:before {
						background-position : 0 -15px;
					}
				}
				.rnf-app-engagement {
					&:before {
						background-position : 0 0px;
					}
				}


				.page-like,
				.engagement,
				.image-post,
				.video-view,
				.offer-claim,
				.website-click,
				.website-conversion,
				.multi-product,
				.app-install,
				.app-engagement {
					&:after {
						content: '';
						display: inline-block;
						width: 18px;
						height: 16px;
						background-image: url(../../images_v1/icon/icon-campaign.png);
						vertical-align: middle;
						margin-left: 5px;
					}
				}

				.page-like {
					&:after {
						background-position: -18px -48px;
					}
				}
				.engagement {
					&:after {
						background-position: -54px -48px;
					}
				}
				.image-post {
					&:after {
						background-position: -18px -16px;
					}
				}
				.video-view {
					&:after {
						background-position: -18px -64px;
					}
				}
				.offer-claim {
					&:after {
						background-position: -54px -32px;
					}
				}
				.website-click {
					&:after {
						background-position: -54px -64px;
					}
				}
				.website-conversion {
					&:after {
						background-position: -18px 0;
					}
				}
				.multi-product {
					&:after {
						background-position: -18px -32px;
					}
				}
				.app-install {
					&:after {
						background-position: -54px -16px;
					}
				}
				.app-engagement {
					&:after {
						background-position: -54px 0;
					}
				}
				.depth-1 {
					&:hover,
					&.active {
						> a {
							&.page-like {
								&:after {
									background-position: 0px -48px;
								}
							}
							&.engagement {
								&:after {
									background-position: -36px -48px;
								}
							}
							&.image-post {
								&:after {
									background-position: 0px -16px;
								}
							}
							&.video-view {
								&:after {
									background-position: 0px -64px;
								}
							}
							&.offer-claim {
								&:after {
									background-position: -36px -32px;
								}
							}
							&.website-click {
								&:after {
									background-position: -36px -64px;
								}
							}
							&.website-conversion {
								&:after {
									background-position: -0px 0;
								}
							}
							&.multi-product {
								&:after {
									background-position: -0px -32px;
								}
							}
							&.app-install {
								&:after {
									background-position: -36px -16px;
								}
							}
							&.app-engagement {
								&:after {
									background-position: -36px 0;
								}
							}
						}
					}
				}
			}
		}
		.row-facebook-page {
			padding: 25px 0;
			h4 {
				line-height: 25px;
			}
			.select-facebook-page {
				box-sizing: border-box;
				height: 25px;
				width: 200px;
				border: 1px solid #c6c6c6;
			}
			.btn-turn-off {
				@include button-style(150,25,13,#ababab);
				margin-left : 5px;
				&.active {
					@include button-style(150,25,13);
				}

			}
		}
		.btn-align-center {
			//margin-top: 35px;
			.btn-next {
				@include button-style();
			}
		}

	}
	&.audience {
		.content {
			padding: 24px 35px;
			background-color: #fff;
			box-shadow: $box-shadow-default;
		}

		.audience-content,
		.existing-content {
			h4 {
				float: left;
				width : 140px;
			}
		}
		.audience-content {
			.list-audience {
				overflow : hidden;
				> ul {
					margin : -10px 0 0 -10px;
				}
				li {
					float: left;
					width: 179px;
					height: 103px;
					box-sizing: border-box;
					border: 3px solid #e4e4e4;
					cursor: pointer;
					margin : 10px 0 0 10px;
					position: relative;
					background: url(../../images_v1/bg/bg-add.png) no-repeat 50% 50%;
					&.has-data {
						border: 1px solid #bcbcbc;
						cursor: default;
						padding-top: 22px;
						background-image: none;
						.nth-child-1,
						.nth-child-2,
						.nth-child-3,
						.nth-child-4 {
							border-top : 1px solid #dadada;
							height : 19px;
							padding : 0 10px;
							line-height : 19px;
							&:first-child {
								border-top : 0 none;
							}
							p {
								@include ellipsis;
								font-weight : 300;
							}
						}
						.nth-child-1 {
							p {
								font-size : 13px;
								font-weight : 400;
								color : #3b5998;
							}
						}
						.nth-child-3 {
							.location {
								@include ellipsis;
								display: inline-block;
								text-indent: 0;
								max-width: 80px;
								vertical-align: middle;
								position : relative;
								padding-right : 10px;
								&:after {
									content : '/';
									display : block;
									position : absolute;
									right : 4px;
									top : 0;
								}
							}
						}


						.btn-group {
							position: absolute;
							right: 5px;
							top: 2px;
							a {
								opacity: 0.5;
								&:hover {
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
		.existing-content {
			position : relative;
			h4 {
				position : absolute;
			}
			.select-wrap {
				@include clfix;
				margin-left : 140px;
			}
			.select-existing {
				float : left;
				width : 25%;
				box-sizing : border-box;
				position: relative;
				z-index: 10;
				letter-spacing: 0;
				text-indent: 10px;
				padding-right : 10px;
				&:first-child {
					margin-left: 0;
				}
				> strong {
					border: 1px solid #c6c6c6;
					box-sizing: border-box;
					color: #404040;
					display: block;
					font-size: 13px;
					line-height: 23px;
					width: 100%;
					position: relative;
					font-weight : 400;
					&:after {
						background-image: url(../../images_v1/icon/icon-arrow-bot.png);
						content: '';
						display: block;
						position: absolute;
						width: 9px;
						height: 7px;
						right: 12px;
						top: 9px;
					}
				}

				> ul {
					display: none;
					position: absolute;
					width: 100%;
					box-sizing: border-box;
					margin-left : -10px;
					padding-left : 10px;
					line-height: 25px;
					max-height: 208px;
					overflow-y: auto;
					> li {
						background-color : #fff;

						> a,
						> span {
							font-size: 12px;
							color: #404040;
							display: block;
							border-left : 1px solid #dadada;
							border-right : 1px solid #dadada;
						}

						> ul {
							background-color: #f0f0f0;
							text-indent: 20px;
							a {
								display: block;
								font-weight: normal;
								border-left : 1px solid #dadada;
								border-right : 1px solid #dadada;
							}
						}
					}
				}

				a {
					line-height: 25px;
					border-bottom: 1px solid #dadada;
					box-sizing: border-box;
					&.checked {
						&:before {
							content: '';
							display: inline-block;
							background-image: url(../../images_v1/icon/icon-checked.png);
							width: 13px;
							height: 10px;
							margin-right: 5px;
						}
					}
					&:hover {
						background-color: #dde3f0;
					}
				}

				&:hover {
					> strong {
						color: #fff;
						background-color: #3b5998;
						&:after {
							background-image: url(../../images_v1/icon/icon-arrow-top.png);
						}
					}
					> ul {
						display: block;
						a {
							color: #404040;
						}
					}
				}
			}
		}
		.recommended-audience-content {
			.fa-info-circle {
				color: #404040;
				font-size: 14px;
				margin-left: 5px;
				cursor: help;
			}
			.bubble-tooltip {
				@include bubble-tooltip(left);
			}
			.list-recommended-audience {
				@include clfix;
				margin-top: 20px;
				margin-left: -30px;

				> li {
					width: 33.3%;
					box-sizing: border-box;
					padding-left: 30px;
					float: left;
				}
				.text-recommended-audience {
					background-color: #f2f2f2;
					border-bottom: 1px solid #dadada;
					color: #404040;
					line-height: 26px;
					font-weight: bold;
					text-align: center;
				}
				.graph {
					padding: 0 28px;
					position: relative;
					margin-top: 17px;
					.text-zero,
					.text-hundred {
						position: absolute;
						display: block;
						width: 28px;
						top: 0;
						font-weight: bold;
					}
					.text-zero {
						left: 0;
						text-align: left;
					}
					.text-hundred {
						right: 0;
						text-align: right;
					}
					.percent {
						@include clfix;
						border: 1px solid #dcdcdc;
						border-radius: 8px;
						box-sizing: border-box;
						line-height: 13px;
						overflow: hidden;
						span {
							display: block;
							float: left;
							font-weight: bold;
							text-align: center;
							overflow : hidden;
							&.one,
							&.two,
							&.three {
								color: #fff;
							}
							&.one {
								width: 40%;
								background-color: #3b5998;
							}
							&.two {
								width: 30%;
								background-color: #404040;
							}
							&.three {
								width: 20%;
								background-color: #ababab;
							}
							&.four {
								color: #404040;
								width: 10%;
								background-color: #fff;
							}
						}
					}
				}
				.list-class {
					@include clfix;
					margin-top: 20px;
					li {
						width: 33.3%;
						float: left;
						box-sizing: border-box;
						text-align: center;
						&:before {
							content: '';
							display: inline-block;
							width: 13px;
							height: 12px;
							background-image: url(../../images_v1/icon/icon-people.png);
							vertical-align: middle;

						}
					}
					.btn-add {
						line-height: 13px;
						border: 1px solid #595959;
						width: 38px;
						font-size: 11px;
						border-radius: 6px;
						margin-left: 5px;
						&[disabled] {
							border-color: #808080;
						}
					}

					.the-first-class {
						&:before {
							background-position: 0 0;
						}
					}
					.the-second-class {
						&:before {
							background-position: 0 -12px;
						}
					}
					.the-third-class {
						&:before {
							background-position: 0 -24px;
						}
					}
					.the-zero-class {
						width : 100%;
						padding-left : 30px;
						text-align : left;
						&:before {
							background-position: 0 -36px;
						}
					}

				}
			}

		}
		.btn-align-center {
			//margin-top: 35px;
			.btn-back {
				@include button-style(130, 32, 18, #ababab);
			}
			.btn-next {
				@include button-style();
			}
		}
	}
	&.creative {
		h4 {
			float: left;
			width : 133px;
		}

		> .content {
			@include clfix;
			background-color: #fff;
			box-shadow: $box-shadow-default;
		}


		.ad-type-app {
			@include clfix;
			.app-content ,
			.app-store-content {
				width: 49.54887218045113%;
				background-color: #fff;
				box-sizing: border-box;
				border: 1px solid #d8d8d8;
				box-shadow: $box-shadow-default;
				padding: 12px 35px;
				h4 {
					line-height: 25px;
				}
			}

			.app-content {
				float: left;
				select {
					width : 220px;
					height : 25px;

				}
			}
			.app-store-content {
				float: right;
				label {
					@include button-type-radio();
				}
			}
		}

		.creative-content ,
		.placement-preview-content,
		.existing-content,
		.conversion-tracking-content{
			padding : 24px 35px;
		}
		.creative-content {
			.list-creative {
				overflow : hidden;
				ul {
					margin-left: -22px;
					margin-top : -22px;
				}
				li {
					position: relative;
					box-sizing: border-box;
					width: 169px;
					height: 141px;
					overflow: hidden;
					border: 1px solid #b6b6b6;
					padding: 28px 6px 6px;
					float: left;
					margin-top : 22px;
					margin-left: 22px;
					background : url(../../images_v1/bg/bg-add.png) no-repeat 50% 50%;
					cursor : pointer;
					.btn-group {
						position: absolute;
						right: 5px;
						top: 2px;
						a {
							opacity: 0.5;
							&:hover {
								opacity: 0.8;
							}
						}
					}
					.image {
						width: 155px;
						height: 105px;
						background-color: #f5f5f5;
						overflow: hidden;
						position : relative;
						> img {
							position : absolute;
							max-width : 100%;
							max-height : 100%;
							@include center-position;

						}
					}
					&.has-data {
						cursor : default;
						background-image : none;
					}
				}
			}
		}

		.placement-preview-content {
			.list-placement-preview {
				@include clfix;
				margin-left: -23px;
				float: left;
				margin-bottom : 16px;

				>li {
					float: left;
					margin-left: 23px;
					position: relative;

					.mobile ,
					.desktop ,
					.desktop-right {
						> a {
							display: block;
							box-sizing: border-box;
							border: 1px solid #aeaeae;
							width: 360px;
							height: 40px;
							line-height: 40px;
							font-size: 15px;
							//font-weight: bold;
							text-align: center;
							border-radius: 20px;
							color: #404040;
							position : relative;
							span {
								&:after {
									content: '';
									display: inline-block;
									height: 16px;
									margin-left: 7px;
									background-image: url(../../images_v1/icon/icon-placement-preview.png);
								}
							}
						}
					}

					.mobile {
						position : relative;

						// 마우스를 올려놓지 않았을때
						> a {
							span {
								&:after {
									width: 11px;
									background-position: 0 -64px;
								}
							}
						}
						.sub-child {
							display : none;
							background-color: #fff;
							position: absolute;
							border: 1px solid #b8b8b8;
							box-sizing: border-box;
							width: 100%;
							padding: 21px 21px 21px 19px;
							border-radius: 5px;
							top : 49px;
							&:after {
								content : '';
								display : block;
								background : url(../../images_v1/bg/arrow-top.png) no-repeat right 0 top 0;
								width : 100%;
								height : 10px;
								position : absolute;
								top : -10px;
								right : 20px;

							}
							select {
								height : 25px;
							}
							.select-device ,
							.list-detail-device ,
							.select-version {
								margin-bottom : 7px;
							}
							.list-detail-device {
								border : 1px solid #dadada;
								li {
									line-height : 24px;
									position : relative;
									padding : 0 7px;
									border-top : 1px solid #dadada;
									.btn-remove {
										width : 8px;
										height : 8px;
										overflow : hidden;
										background-image : url(../../images_v1/button/btn-placement-remove.png);
										text-indent : -9999px;
										position : absolute;
										right : 10px;
										top : 0;
										bottom : 0;
										margin : auto 0;
									}
									&:first-child {
										border-top : 0 none;
									}
									input {
										width : 100%;
										border : 0 none;
									}
								}
							}

							.btn-edit {
								@include button-style(55,20,12,#404040);
								position : absolute;
								right : 21px;
								bottom : 23px;
							}

						}
						&:after {
							content : '';
							display : block;
							position : absolute;
							width : 9px;
							height : 7px;
							background-image : url(../../images_v1/icon/icon-arrow-bot.png);
							right : 12px;
							top : 17px;
						}

						// 마우스를 올려놓았을때
						&:hover,
						&.active{
							> a {
								background-color : #404040;
								color : #fff;
								span {
									&:after {
										background-position : 0 -80px;
									}
								}
							}
							&:after {
								background-image : url(../../images_v1/icon/icon-arrow-top.png);
							}
						}
						&:hover {
							.sub-child {
								display : block;
							}
						}
					}

					.desktop {
						> a {
							span {
								&:after {
									width: 16px;
									background-position: 0 0px;
								}
							}

						}
						&:hover ,
						&.active {
							> a {
								background-color : #404040;
								color : #fff;

								span {
									&:after {
										background-position : 0 -16px;
									}
								}
							}
						}
					}

					.desktop-right {
						> a {
							span {
								&:after {
									width: 16px;
									background-position: 0 -32px;
								}
							}

						}
						&:hover ,
						&.active {
							> a {
								background-color : #404040;
								color : #fff;
								span {
									&:after {
										background-position : 0 -48px;
									}
								}
							}
						}
					}

					.preview {
						margin-top: 13px;
						box-sizing: border-box;
						min-height: 413px;
						border: 1px solid #b8b8b8;
						background-color: #fff;
					}
				}
			}
			.chk-merge-all {
				clear: both;
			}
		}

		.existing-content {
			select {
				height : 25px;
				width : 553px;
			}
			input {
				padding : 3px 7px;
				font-size : 13px;
				width  :200px;
			}
		}

		.landing-view-content {
			padding : 12px 35px;
		}
		.conversion-tracking-content {
			h4 {
				width : 170px;
				label {
					margin-left : 5px;
				}
			}

			> div {
				float : left;
				.result-conversion-tracking {
					p {
						line-height : 25px;
						background-color : #f0f0f0;
						margin-bottom : 5px;
						width : 505px;
						box-sizing : border-box;
						position : relative;
						text-indent : 10px;
						vertical-align : middle;
						span {
							@include ellipsis;
							display : inline-block;
							width : 400px;
							vertical-align : middle;
						}
						&:before {
							content : '';
							display : inline-block;
							width : 5px;
							height : 5px;
							vertical-align : middle;
						}
						&:after {
							display : inline-block;
							position : absolute;
							right : 25px;
							top : 0;
							font-size : 11px;
							vertical-align : top;
							line-height : 24px;
						}
						&.active {
							&:before {
								background-image : url(../../images_v1/icon/icon-red-bull.png);
							}
							&:after {
								content : '[Active]';
								color : #3b5998;

							}
						}
						&.unverified {
							&:before {
								background-image : url(../../images_v1/icon/icon-blue-bull.png);
							}
							&:after {
								content : '[Unverified]';
								color : #e86767;
							}
						}
					}
					.btn-delete-conversion-tracking {
						width : 11px;
						height : 11px;
						overflow : hidden;
						text-indent : -9999px;
						background-image : url(../../images_v1/button/btn-delete-no-circle-black.png);
						right : 10px;
						top : 0;
						bottom : 0;
						position : absolute;
						margin : auto 0;
					}
				}
				.list-conversion-tracking {
					display : inline-block;
					position : relative;
					&:hover {
						> p {
							background-color : #3b5998;
							color : #fff;
							&:after {
								background-image : url(../../images_v1/icon/icon-arrow-top.png);
							}
						}
						> ul {
							display : block;
						}
					}
					> p {
						line-height : 23px;
						border : 1px solid #c6c6c6;
						background-color : #fff;
						padding-left : 10px;
						box-sizing :border-box;
						width : 505px;
						position : relative;
						&:after {
							content : '';
							display : block;
							width : 9px;
							height : 7px;
							position : absolute;
							background-image : url(../../images_v1/icon/icon-arrow-bot.png);
							right : 12px;
							top : 0;
							bottom : 0;
							margin : auto 0;
						}
					}
					> ul {
						border : {
							left : 1px solid #c6c6c6;
							right : 1px solid #c6c6c6;
						}
						box-sizing : border-box;
						display : none;
						position : absolute;
						width : 100%;
						text-indent : 10px;
						max-height : 200px;
						overflow-y : auto;
						span {
							line-height : 24px;

						}
						> li {

							> span {
								display : block;
								background-color : #fff;
								border-bottom : 1px solid #dadada;

							}
							> ul {
								> li {
									background-color : #f0f0f0;
									cursor : pointer;
									position : relative;
									border-bottom : 1px solid #dadada;
									&.active {
										&:before {
											content : '';
											display : inline-block;
											width : 5px;
											height : 5px;
											background-image : url(../../images_v1/icon/icon-blue-bull.png);
											vertical-align : middle;
										}
										&:after {
											content : '[Active]';
											color : #3b5998;
											display : inline-block;
											position : absolute;
											right : 10px;
											top : 0;
											font-size : 11px;
											vertical-align : top;
											line-height : 24px;
										}
									}
									&.unverified {
										&:before {
											content : '';
											display : inline-block;
											width : 5px;
											height : 5px;
											background-image : url(../../images_v1/icon/icon-red-bull.png);
											vertical-align : middle;
										}
										&:after {
											content : '[Unverified]';
											color : #e86767;
											display : inline-block;
											position : absolute;
											right : 10px;
											top : 0;
											font-size : 11px;
											vertical-align : top;
											line-height : 24px;

										}
									}
									span {
										display : inline-block;
										width : 410px;
										vertical-align: middle;
										@include ellipsis;
									}
								}
							}
						}
					}
				}
				.btn-create-pixel {
					@include button-style(100,25,13);
					margin-left : 10px;
				}
			}
		}
		.btn-back {
			@include button-style(135, 32, 18, #ababab);
		}
		.btn-next {
			@include button-style();
		}
	}
	&.budget-schedule {
		.content {
			background-color : #fff;
			box-shadow : $box-shadow-default;
			padding : 24px 35px;
		}
		.table-budget-schedule {
			float : left;


			// 공통 스타일
			table {
				width : 100%;
			}
			th {
				color : #3b5998;
				font-size : 15px;
				text-align : left;
				width : 125px;
				font-weight : 400;
				vertical-align : top;
				padding-top : 3px;
			}
			td {
				padding-bottom : 15px;
				font-weight : 300;
			}


			input[type="text"] {
				padding : 3px 7px;
				border : 1px solid #c6c6c6;
				color : #404040;
			}


			input[type="radio"],
			label {
				cursor : pointer;
			}

			// TR에 적혀 있는 클래스 이름에 따른 스타일
			.campaign-name {
				input[type="text"] {
					width : 280px;
				}

			}
			.budget {
				input[type="text"]{
					width : 200px;
				}
				label {
					@include button-type-radio(false);
				}
			}
			.date {
				.radio-wrap {
					margin-bottom: 7px;
					> p {
						margin-top : 3px;
					}
				}

				.date-wrap {
					.input-date {
						background : {
							image : url(../../images_v1/icon/icon-calendar.png);
							position : right 5px top 50%;
							repeat : no-repeat;
						}
						width : 200px;
						padding-right : 22px;
					}
					.input-hour ,
					.input-min {
						width : 32px;
						text-align : center;
					}
					.hyphen {
						margin : 0 3px;
					}
					.btn-date {
						@include button-style(50,25,11,#fff);
						color : #404040;
						border : 1px solid #bcbcbc;
						//						font-weight : 400;
						&:active,
						&.active {
							background-color : #404040;
							border : 1px solid #404040;
							color : #fff;
						}
					}
				}
			}
			.schedule {
				p {
					margin-top : 3px;
				}
			}

		}
		.time-wrap {
			float : left;
			margin-left : 40px;
			.time-wrap-heading {
				@include clfix;
				margin-bottom : 15px;
				.text-title {
					float : left;
					font-size : 13px;
					font-weight : 700;
					color : #3b5998;
				}
				.text-desc {
					float : right;
					&:before {
						content : '';
						display : inline-block;
						width : 10px;
						height : 10px;
						background-color : #3b5998;
						margin-right : 5px;
					}
				}
			}
			.text-hours {
				margin-left: 30px;
				margin-top: 5px;
				span {
					display: inline-block;
					font-weight: 700;
					width: 45px;
					font-size: 11px;
				}
				.allday {
					margin-left: 5px;
				}
			}

			.time-zone {
				margin-top: 5px;
				.day .label, .everyday .label {
					float: left;
					width: 30px;
					height: 30px;
					line-height: 30px;

					//					text-align: right;
				}
				.day .label i, .everyday .label i {
					font-size: 12px;
					font-style : normal;
				}
				.day {
					@include clfix;
					&.first {
						.times .hour, .all-select-time {
							border-top: 1px solid #bdbfc4;
						}
					}

					.times {
						float : left;
						.hour {
							width: 15px;
							height: 30px;
							background-color: #f1f2f6;
							cursor: pointer;
							float: left;
							border-bottom: 1px solid #bdbfc4;
							border-right: 1px solid #fff;
							&.first {
								border-left: 1px solid #bdbfc4;
							}
							&.ui-selected {
								background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
								background: -webkit-linear-gradient(top, #6279ae, #5870a8);
								background-color: #5870a8;
								border-right: 1px solid #6d84b4;
							}
							&.nth-child-3 {
								border-right: 1px solid #bdbfc4;
							}
						}
					}
					.all-select-time {
						border-bottom: 1px solid #bdbfc4;
						border-left: 1px solid #bdbfc4;
						border-right: 1px solid #bdbfc4;
						cursor: pointer;
						float: left;
						width: 45px;
						height: 30px;
						margin-left: 4px;
						&.ui-selected {
							background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
							background: -webkit-linear-gradient(top, #6279ae, #5870a8);
							background-color: #5870a8;
						}
					}
				}
				.everyday {
					margin-top: 5px;
					.label {
						font-weight: 700;
					}
					.times .every-hour {
						width: 15px;
						height: 30px;
						cursor: pointer;
						float: left;
						border-bottom: 1px solid #bdbfc4;
						border-right: 1px solid #bdbfc4;
						border-top: 1px solid #bdbfc4;
						background-color: #fff;
						&.first {
							border-left: 1px solid #bdbfc4;
						}
						&.ui-selected {
							background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
							background: -webkit-linear-gradient(top, #6279ae, #5870a8);
							background-color: #5870a8;
							border-right: 1px solid #6d84b4;
						}
					}
				}
			}
			.desc {
				text-align : center;
				margin-top : 10px;
				font-weight : 300;
			}
		}
		.table-rnf-budget-schedule {
			table {
				width : 100%;
			}
			th {
				font-size : 15px;
				color : #3b5998;
				text-align : left;


				// 각각의 th마다 크기가 달라서 따로 지정함.
				&.start-date {
					width : 95px;
				}
				&.end-date {
					width : 90px;
				}
				&.frequency-cap {
					width : 130px;
				}

				.fa-info-circle {
					color : #404040;
					font-size : 13px;
				}
			}
			td {
				input[type="text"]{
					padding : 3px 7px;
					border : 1px solid #c6c6c6;
					color : #404040;
				}
				&.start-date,
				&.end-date {
					.input-date {
						background : {
							image : url(../../images_v1/icon/icon-calendar.png);
							position : right 5px top 50%;
							repeat : no-repeat;
						}
						width : 200px;
						padding-right : 22px;
					}
				}
				&.frequency-cap {
					position : relative;
					.text-avg {
						position : absolute;
						margin-top : 4px;
						font-size : 11px;
					}
					.btn-submit {
						@include button-style(100,25,11);
					}
				}
			}
		}
		.graph-content {
			min-height : 535px;
			position : relative;
			.loading {
				@include center-position();
				font-size : 16px;
				position : absolute;
				text-align : center;
			}

			.graph-result {
				input[type="text"]{
					padding : 3px 7px;
				}
				.text-graph-result {
					font-size : 15px;
					.number-people {
						color : #3b5998;
					}
				}
				.number-avg-cpm {
					font-size : 11px;
					font-weight : 300;
				}
			}
		}
	}
	&.confirm {
		.content {
			background-color : #fff;
			padding : 24px 32px;
			box-shadow : $box-shadow-default;
		}

		.content-heading {
			h4 {
				display : inline-block;
			}
			.btn-group {
				display : inline-block;
				.btn-ok {
					@include button-style(68,21,12);
				}
				.btn-cancel {
					@include button-style(68,21,12,#ababab);
				}
			}
		}

		.btn-confirm-wrap {
			margin-bottom : 15px;
			position : relative;
			.btn-bid {
				@include button-style(64,20,12,#404040);
				&.active {
					background-color : #fff;
					color : #404040;
				}
			}
			select {
				width : 72px;
				margin-left : 10px;
				margin-right : 10px;
			}
			.btn-min ,
			.btn-avg ,
			.btn-max {
				@include button-style(45,17,12,#404040);
			}
			.input-bidding-amount {
				width : 72px;
				border : 1px solid #404040;
				padding : 3px 7px;
			}
			.btn-ok {
				@include button-style(68,22,12,#3b5998);
				position : absolute;
				right : 0;
				top : 1px;

			}
			> div {
				display : inline-block;
				> p {
					display : inline-block;
				}
			}
		}
		.table-confirm {
			table {
				margin-top : -10px;
				margin-left : -10px;

			}
			th,
			td{
				vertical-align : top;
				padding-left : 10px;
				padding-top : 10px;
				> div {
					width : 149px;
					height : 149px;
					box-sizing : border-box;
					border : {
						width : 1px;
						style : solid;
					}
					position : relative;
				}
			}
			tr {
				td {
					> div {
						border-color: #3b5998;
						>p {
							@include clfix;
							font-size : 10px;
							position : relative;
							padding : {
								left : 7px;
								right : 5px;
							}
							line-height : 13px;

							.text-left {
								display : inline-block;
								vertical-align : bottom;
							}
							.text-right {
								@include ellipsis;
								font-weight : 300;
								overflow : hidden;
								text-align : right;
								display : inline-block;
								vertical-align : bottom;
							}
							&.campaign-name {
								line-height : 76px;
								span {
									@include ellipsis;
									display : inline-block;
									max-width : 110px;
									vertical-align : middle;
									font-size : 11px;
									color : #3b5998;
								}
							}
							&.bid-cpc {
								line-height : 25px;
								border-top : 1px solid #cacaca;
								border-bottom : 1px solid #cacaca;
								.text-right {
									width : 77px;
								}
							}
							&.suggested-bid {
								padding-top : 11px;
							}
						}

					}
					&:first-child {
						> div {
							border-color : #404040;
							padding-top : 22px;
							p {
								.text-left {
									width : 50px;
								}
								.text-right {
									width : 80px;
								}
								&.ad-set-name {
									> span {
										@include ellipsis;
										display : inline-block;
										max-width : 110px;
										vertical-align : middle;
										font-size : 11px;
									}
									a {
										margin-left : 5px;
									}
								}
								&.budget {
									border-top : 1px solid #cacaca;
									border-bottom : 1px solid #cacaca;
									margin-top : 4px;
									margin-bottom: 5px;
									padding : {
										top : 5px;
										bottom : 5px;
									}
								}
							}
						}
					}
				}
				&:first-child {
					td {
						> div {
							height : 115px;
							padding-top : 20px;
							.image {
								width : 141px;
								height : 75px;
								background-color : #F5F5F5;
								margin : 0 auto;
								position :  relative;
								> img {
									@include center-position;
									position : absolute;
									max-width : 100%;
									max-height : 100%;

								}
							}
							.text {
								font-size : 10px;
								text-align : center;
								line-height : 15px;
								font-weight : 300;

							}
						}

						&:last-child {
							> div {
								border : {
									width : 3px;
									color : #ececec;
								}
								background : url(../../images_v1/bg/bg-add.png) no-repeat 50% 50%;
								cursor : pointer;
							}
						}
					}
				}
				&:last-child {
					td {
						&:first-child {
							> div {
								border : {
									width : 3px;
									color : #ececec;
								}
								cursor : pointer;
								background : url(../../images_v1/bg/bg-add.png) no-repeat 50% 50%;
							}
						}
					}
				}
			}
			.btn-group {
				position : absolute;
				right : 5px;
				top : 2px;
			}
		}
	}

}

.table-campaign-summary {

	// 테스트용

	.modify-show {
		display : none;
	}
	.modify-hide {
		line-height : 22px;
	}
//	.modify-hide {
//		display : none;
//	}
	.time-wrap {
		display : none;
	}


	border : {
		top : 2px solid #3b5998;
		bottom : 2px solid #3b5998;
	}
	margin-top : 8px;
	table {
		width : 100%;
	}
	tr {
		&:first-child {
			th {
				border-top : 0 none;
			}
			td {
				border-top : 0 none;
			}
		}
	}
	th {
		text-align : center;
		font-weight : 400;
		color : #3b5998;
		height : 38px;
		border : {
			top : 1px solid #dadada;
			right : 1px solid #dadada;
		}
		padding-top : 10px;
		box-sizing : border-box;
		width : 85px;
	}
	td {
		border-top : 1px solid #dadada;
		padding-top : 7px;
		padding-left : 19px;
		font-weight : 300;
		&.auto-optimization-status {
			border-left : 1px solid #dadada;
			width : 531px;
			> p {
				font-size: 13px;
				font-weight: 700;
				color: #3b5998
			}
			.time-wrap {
				float : left;
				margin-left : 100px;
				.time-wrap-heading {
					@include clfix;
					margin-bottom : 15px;
					.text-title {
						float : left;
						font-size : 13px;
						font-weight : 700;
						color : #3b5998;
						margin-left : -100px;
						.btn-ok ,
						.btn-cancel {
							width : 50px;
							height : 18px;
							text-align : center;
							color : #404040;
							border : 1px solid #595959;
							border-radius : 10px;
							font-size : 11px;
						}
						.btn-ok {
							margin-left : 5px;
						}
					}
					.text-desc {
						float : right;
						&:before {
							content : '';
							display : inline-block;
							width : 10px;
							height : 10px;
							background-color : #3b5998;
							margin-right : 5px;
						}
					}
				}
				.text-hours {
					margin-left: 30px;
					margin-top: 5px;
					span {
						display: inline-block;
						font-weight: 700;
						width: 45px;
						font-size: 11px;
					}
					.allday {
						margin-left: 5px;
					}
				}

				.time-zone {
					margin-top: 5px;
					.day .label, .everyday .label {
						float: left;
						width: 30px;
						height: 30px;
						line-height: 30px;

						//					text-align: right;
					}
					.day .label i, .everyday .label i {
						font-size: 12px;
						font-style : normal;
					}
					.day {
						@include clfix;
						&.first {
							.times .hour, .all-select-time {
								border-top: 1px solid #bdbfc4;
							}
						}

						.times {
							float : left;
							.hour {
								width: 15px;
								height: 30px;
								background-color: #f1f2f6;
								cursor: pointer;
								float: left;
								border-bottom: 1px solid #bdbfc4;
								border-right: 1px solid #fff;
								&.first {
									border-left: 1px solid #bdbfc4;
								}
								&.ui-selected {
									background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
									background: -webkit-linear-gradient(top, #6279ae, #5870a8);
									background-color: #5870a8;
									border-right: 1px solid #6d84b4;
								}
								&.nth-child-3 {
									border-right: 1px solid #bdbfc4;
								}
							}
						}
						.all-select-time {
							border-bottom: 1px solid #bdbfc4;
							border-left: 1px solid #bdbfc4;
							border-right: 1px solid #bdbfc4;
							cursor: pointer;
							float: left;
							width: 45px;
							height: 30px;
							margin-left: 4px;
							&.ui-selected {
								background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
								background: -webkit-linear-gradient(top, #6279ae, #5870a8);
								background-color: #5870a8;
							}
						}
					}
					.everyday {
						margin-top: 5px;
						.label {
							font-weight: 700;
						}
						.times .every-hour {
							width: 15px;
							height: 30px;
							cursor: pointer;
							float: left;
							border-bottom: 1px solid #bdbfc4;
							border-right: 1px solid #bdbfc4;
							border-top: 1px solid #bdbfc4;
							background-color: #fff;
							&.first {
								border-left: 1px solid #bdbfc4;
							}
							&.ui-selected {
								background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
								background: -webkit-linear-gradient(top, #6279ae, #5870a8);
								background-color: #5870a8;
								border-right: 1px solid #6d84b4;
							}
						}
					}
				}
				.desc {
					text-align : center;
					margin-top : 10px;
					font-weight : 300;
				}
			}
		}
	}

	th,
	td {
		vertical-align : top;
	}
	input[type="text"]{
		padding : 3px 7px;
		border : 1px solid #c6c6c6;
		color : #404040;
	}


	.name {
		input[type="text"]{
			width : 335px;
		}
	}
	.period {
		.date {
			padding-bottom : 7px;

			.input-date {
				background : {
					image : url(../../images_v1/icon/icon-calendar.png);
					position : right 5px top 50%;
					repeat : no-repeat;
				}
				width : 200px;
				padding-right : 22px;
			}
			.input-hour ,
			.input-min {
				width : 32px;
				text-align : center;
			}
			.input-hour {

			}
			.input-min {

			}
			.check-start-date {
				margin-top : 5px;
			}
		}
		.schedule {
			border-top : 1px solid #dadada;
			padding : {
				top : 7px;
				bottom : 7px;
				left : 19px;
			}
			margin-left : -19px;
			> p {
				color : #3b5998;
				font-weight : 400;
			}
			li {
				margin-top : 5px;
			}
		}
	}
	.budget {
		.btn-life-time ,
		.btn-daily {
			@include radioCustom();
		}
	}
}

// 툴팁타입의 팝업
.popup-tooltip-type {
	background-color : #f0f0f0;
	border : 1px solid #3b5998;
	box-sizing : border-box;
	padding : 13px 15px 15px;
	position : absolute;
	width : 308px;
	z-index : 10;
	top : -1px;
	right : -319px;
	input[type="text"] {
		padding : 3px 7px;
	}
	&:before,
	&:after {
		display : block;
		content : '';
		position : absolute;
	}
	&:before {
		border-right : 8px solid #3b5998;
		border-top : 5px solid transparent;
		border-bottom : 5px solid transparent;
		left : -9px;
	}
	&:after {
		border-right : 7px solid #f0f0f0;
		border-top : 4px solid transparent;
		border-bottom : 4px solid transparent;
		left : -7px;
	}

	.popup-tooltip-container {
		padding : 0 10px;
	}

	.btn-align-center {
		margin-top : 25px;
		text-align : center;
		.btn-save {
			@include button-style(55,20,12);
		}
		.btn-cancel {
			@include button-style(55,20,12,#ababab);
		}
	}
}
.popup-cpc-ocpm {
	.tab-menu {
		@include clfix;
		border-bottom : 1px solid #d4d4d4;
		li {
			float : left;
			a {
				display : block;
				line-height : 23px;
				background-color : #fff;
				color : #3b5998;
				width : 69px;
				text-align : center;
				border-radius : 5px 5px 0 0;
				&.active,
				&:hover {
					color : #fff;
					background-color : #3b5998;
				}
			}
		}
	}
	.cpc ,
	.ocpm {
		p {
			> label {
				color : #3b5998;
				font-size : 12px;
				display : inline-block;
			}
		}
	}
	.cpc {
		p {
			margin-top : 24px;
			> label {
				width : 23px;
			}
		}
		input[type="text"]{
			width : 229px;
		}
	}
	.ocpm {
		.list-ocpm {
			li {
				margin-top : 5px;
				font-weight : 300;
				&:first-child {
					margin-top : 15px;
				}
				input[type="radio"]{
					margin-right : 5px;
				}
			}
		}
		p {
			margin-top : 5px;
			> label {
				width : 40px;
			}
			input[type="text"]{
				width : 212px;
			}
			&:first-child {
				margin-top : 20px;
			}
		}
	}
	&:before {
		top : 83px;
	}
	&:after {
		top : 84px;
	}
}
.popup-ad-set-name {
	padding-bottom : 35px;
	p {
		margin-top : 28px;
		input[type="text"]{
			width : 212px;
		}
		> label {
			display : inline-block;
			font-size :12px;
			color : #3b5998;
			text-align : center;
			width : 40px;
		}

	}
	&:before {
		top : 24px;
	}
	&:after {
		top : 25px;
	}
}
.popup-budget {
	padding-bottom : 35px;
	p {
		margin-top : 28px;
	}

	input[type="text"]{
		width : 217px;

	}
	.label-budget {
		width: 35px;
		text-align: center;
		font-size: 12px;
		color: #3b5998;
		display: inline-block;
	}
	&:before {
		top : 44px;
	}
	&:after {
		top : 45px;
	}
}