@import "import/variable";
@import "import/font";
@import "import/mixin";
@import "import/common";
@import "import/header";
@import "import/tooltipster";

body {
	background-color: #e7e7e7;
	color: #404040;
	letter-spacing: 0.5px;
	min-width : 1440px;
}

select , input {
	font-family : $base-font;
}

.container {
	padding: 0 55px;
	box-sizing : border-box;
	.contents {
		> .content {
			margin-top : 9px;
			padding: 24px 35px;
			background-color: #fff;
			box-shadow: $box-shadow-default;
			.content-heading {
				position : relative;
			}
			h4 {
				color : #3b5998;
				font-size : 15px;
			}
		}
	}
	.main-title {
		box-shadow : $box-shadow-default;
		background-color: #fff;
		padding: 12px 10px;
		margin-top : 20px;
		h3 {
			img {
				margin-right : 5px;
				vertical-align : -1px;
			}
			font-size : 20px;
			color : #3b5998;
		}
	}
}

.input-date {
	background: {
		image: url(../../images_v1/icon/icon-calendar.png);
		position: right 5px top 50%;
		repeat: no-repeat;
	}
	border : 1px solid #c6c6c6;
	padding : 3px 22px 3px 7px;
	width: 200px;
}

.btn-auto-optimization-setting {
	@include button-style(168,25,13,#404040);
	position : absolute;
	right : 0;
	top : 0;
}

.table-manage-campaign-summary {
	border : {
		top : 2px solid #3b5998;
		bottom : 2px solid #3b5998;
	}
	margin-top : 15px;

	table {
		width : 100%;
	}
	tr {
		&:first-child {
			th {
				border-top : 0 none;
			}
			td {
				border-top : 0 none;
			}
		}
	}
	th {
		text-align : center;
		font-weight : 400;
		color : #3b5998;
		border : {
			top : 1px solid #dadada;
			right : 1px solid #dadada;
		}
		box-sizing : border-box;
		width : 85px;
	}

	td {
		border-top : 1px solid #dadada;
		padding-top : 7px;
		padding-left : 19px;
		font-weight : 300;
	}

	th,
	td {
		vertical-align : top;
	}
	input[type="text"]{
		padding : 3px 7px;
		border : 1px solid #c6c6c6;
		color : #404040;
	}

	.name ,
	.period {
		th {
			height : 38px;
			vertical-align : middle;
		}
		td {
			&[colspan="2"]{
				line-height : 22px;
			}
		}

	}

	.budget {
		th {
			height : 58px;
			vertical-align : middle;
		}
	}

	.name {
		td {
			p {
				font-weight : bold;
			}
			input[type="text"]{
				width : 335px;
			}
			&.auto-optimization-status {
				border-left : 1px solid #dadada;
				width : 531px;
				.title {
					font-size: 13px;
					font-weight: 700;
					color: #3b5998;
					.btn-view-detail {
						@include button-style(100,25,13);
						margin-left : 10px;
					}
				}
				.text {
					margin-top : 14px;
					p {
						line-height : 22px;
						font-size : 13px;
						font-weight : 400;
					}
				}
			}
		}



	}
	.period {
		.date {
			padding-bottom : 7px;

			.input-date {
				background : {
					image : url(../../images_v1/icon/icon-calendar.png);
					position : right 5px top 50%;
					repeat : no-repeat;
				}
				width : 200px;
				padding-right : 22px;
			}
			.input-hour ,
			.input-min {
				width : 32px;
				text-align : center;
			}
			.input-hour {

			}
			.input-min {

			}
			.check-start-date {
				margin-top : 5px;
			}
		}
		.schedule {
			border-top : 1px solid #dadada;
			padding : {
				top : 7px;
				bottom : 7px;
				left : 19px;
			}
			margin-left : -19px;
			> p {
				color : #3b5998;
				font-weight : 400;
			}
			li {
				margin-top : 5px;
			}
		}
	}
	.budget {
		.col-left {
			line-height : 22px;
		}
		.col-right {
			border-left : 1px solid #dadada;
			.spent {
				float : left;
			}
			> div {
				float : right;
				> p {
					margin-right : 20px;
				}
			}
			p {
				display : inline-block;
				&.spent {
					font-weight : bold;
				}
			}
		}
	}
}

.table-manage-campaign-performance {
	border : {
		top : 2px solid #3b5998;
		bottom : 2px solid #3b5598;
	}
	margin-top : 15px;
	table {
		width : 100%;
		tr {
			&:first-child {
				td {
					strong {
						margin-right : 20px;
					}
				}
			}
			&.period {
				.btn-search {
					@include button-style(100,25,13)
				}
				label {
					&.label-yesterday {
						margin-left : 20px;
					}
					cursor : pointer;
					font-weight : 300;
					input[type="radio"]{
						margin-right :3px;
					}
					margin-right : 5px;
				}
			}
			&.etc {
				td {
					border : {
						top : 1px solid #dfdfdf;
						left : 1px solid #dfdfdf;
					}
					text-align : center;
					width : 16.6%;

					strong ,
					span,
					input[type="radio"]{
						vertical-align: middle;
					}
					&:first-child {
						border-left : 0 none;
					}

				}
			}

		}

		td {
			height : 48px;
			font-size : 13px;

			&:first-child {
				padding-left : 20px;
			}
			strong {
				color : #3b5598;
				font-weight : 400;
				font-size : 15px;
			}
		}
	}
}

.table-manage {
	.inner {
		box-sizing : border-box;
		position : relative;
	}
	.user-closed {
		position : absolute;
		width : 100%;
		height : 100%;
		background-color : rgba(236,236,236,0.4);
		top : 0;
		left : 0;
		text-align : center;
		> div {
			@include center-position;
			p {
				font-size : 11px;
				font-weight : 700;
				color : #3b5998;
				margin-bottom : 5px;
			}
			.btn-restart {
				@include button-style(68,21,12,#ababab);
			}
		}
	}
	table {
		overflow : hidden;
		margin-top : -10px;
		margin-left : -10px;
	}
	td {
		padding-left : 10px;
		padding-top : 10px;
	}

	thead {
		tr {
			td {

				&:first-child {
					.inner {
						border : 1px solid #404040;
					}
				}

				&:last-child {
					.inner {
						border : 3px solid #ececec;
						cursor : pointer;
						background : url(../../images_v1/bg/bg-add.png) no-repeat 50% 50%;
					}
				}

				.inner {
					width : 149px;
					height : 115px;
					border : 1px solid #3b5998;
					.btn-group {
						padding : 3px;
						margin-bottom : 1px;
						text-align : right;
					}
					.image {
						width : 141px;
						height : 75px;
						background-color : #F5F5F5;
						margin : 0 auto;
						position :  relative;
						> img {
							@include center-position;
							position : absolute;
							max-width : 100%;
							max-height : 100%;

						}
					}
					.text {
						font-size : 10px;
						text-align : center;
						line-height : 15px;
						font-weight : 300;
					}
				}
			}
		}
	}
	// thead END

	tfoot {
		tr {
			td {

				&:first-child {
					.inner {
						border : 3px solid #ececec;
						background : url(../../images_v1/bg/bg-add.png) no-repeat 50% 50% #fff;
						cursor : pointer;
					}
				}

				.inner {
					width : 149px;
					height : 203px;
					background : url(../../images_v1/bg/table-manage-semi-circle-top.png) no-repeat 50% -1px #d6d6d6;
					overflow : hidden;
					p {
						border-bottom : 1px solid #ffffff;
						padding : 3px 0 3px 15px;
						position : relative;
						font-size : 10px;
						span {
							position : absolute;
							right : 15px;
							top : 3px;
						}
						&:first-child {
							border-top : 1px solid #f6f8fc;
							margin-top : 40px;
							span {
								font-weight : bold;
							}
						}
					}
				}
			}
		}
	}
	// tfoot END

	tbody {
		tr {
			&.height-large {
				td {
					.inner {
						height : 245px;
					}
				}
			}
			td {
				vertical-align : top;
				&:first-child {
					.inner {
						.btn-group {
							text-align : right;
						}
						border : 1px solid #404040;
						.ad-set-name {
							font-size : 13px;
							padding : 0 0 16px 10px;
							span{
								@include ellipsis;
								max-width : 118px;
								display : inline-block;
								vertical-align : middle;
							}
							a {
								vertical-align: middle;
							}
						}
						.end-time ,
						.budget ,
						.spent ,
						.remaining ,
						.country ,
						.gender ,
						.age ,
						.potential-reach {
							position : relative;
							padding : 3px 5px 4px 10px;
							border-top : 1px solid #dadada;
							font-size : 10px;
							span {
								position : absolute;
								right : 5px;
								top : 3px;
								display : block;
							}
						}
						.gender ,
						.age {
							border-top : 0 none;
						}
					}
				}
				&:last-child {
					.inner {
						background: url(../../images_v1/bg/table-manage-semi-circle-left.png) no-repeat -1px 50% #e0e6f4;
						border : 1px solid transparent;
					}
					p {
						border-bottom : 1px solid #ffffff;
						padding : 3px 0 3px 15px;
						position : relative;
						font-size : 10px;
						span {
							position : absolute;
							right : 15px;
							top : 3px;
							color : #3b5998;
						}
						&:first-child {
							margin-top : 40px;
							border-top : 1px solid #f6f8fc;
							span {
								font-weight : bold;
							}
						}
					}
				}
				.inner {
					width : 149px;
					height : 225px;
					border : 1px solid #bcbcbc;
					.btn-group {
						text-align : right;
						padding : 3px 5px;
					}
					.ad-name {
						font-size : 13px;
						color : #3b5998;
						padding : 1px 0 5px 10px;
						span {
							@include ellipsis;
							max-width : 118px;
							display : inline-block;
							vertical-align : middle;
						}
						a {
							vertical-align : middle;
						}
					}
					.bid ,
					.spent-not-first ,
					.impression ,
					.click ,
					.ctr ,
					.cpc ,
					.app-install,
					.link-click ,
					.page-like,
					.conversion,
					.conversion-rate,
					.cpa ,
					.suggested-bid {
						position : relative;
						padding : 3px 5px 4px 10px;
						border-top : 1px solid #dadada;
						font-size : 10px;
						span {
							display : block;
							position : absolute;
							right : 5px;
							top : 3px;
						}
					}


				}
			}
		}
	}
	// tbody END
}

.campaign-table {
	.btn-confirm-wrap {
		margin-bottom : 15px;
		position : relative;
		.btn-bid {
			@include button-style(64,20,12,#404040);
			&.active {
				background-color : #fff;
				color : #404040;
			}
		}
		select {
			width : 72px;
			margin-left : 10px;
			margin-right : 10px;
		}
		.btn-min ,
		.btn-avg ,
		.btn-max {
			@include button-style(45,17,12,#404040);
		}
		.input-bidding-amount {
			width : 72px;
			border : 1px solid #404040;
			padding : 3px 7px;
		}
		.btn-ok {
			@include button-style(68,22,12,#3b5998);
			position : absolute;
			right : 0;
			top : 1px;

		}
		> div {
			display : inline-block;
			> p {
				display : inline-block;
			}
		}
	}
}


.popup-dim-overlay {
	position : fixed;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	z-index : 99;
	background-color : rgba(0,0,0,.5);
}

.popup-edit-campaign {
	@include popup-default-style;
	@include center-position();
	width : 600px;
	.popup-container {
		padding : 24px 17px;
		input[type="text"]{
			border : 1px solid #c6c6c6;
			line-height : 23px;
			padding : 0 7px;
		}
		.tab-menu {
			@include clfix;
			li {
				float : left;
				margin-left : 1px;
				&:first-child {
					margin-left : 0;
				}
				a {
					background-color : #e4e4e4;
					border-radius : 4px 4px 0 0;
					color : #3b5998;
					display : block;
					text-align : center;
					line-height : 23px;
					width : 69px;
				}
				&.active {
					a {
						background-color : #3b5998;
						color : #fff;
					}
				}
			}
		}
		.schedule ,
		.budget {
			border-top : 1px solid #dadada;
			th {
				color : #3b5998;
				font-size : 15px;
				vertical-align : top;
				text-align : left;
				font-weight : 400;
				width : 78px;
			}
		}
		.schedule {
			padding : {
				top : 20px;
				right : 27px;
				left : 20px;
			}
			.table-popup-edit-campaign-schedule {
				td {
					padding-bottom : 7px;
				}
				.campaign {
					input[type="text"]{
						border : 1px solid #c6c6c6;
						font-size : 13px;
						width : 401px;
						padding : 0 7px;
						line-height : 23px;
					}
				}
				.date-start {
					.input-date {
						background : {
							image : url(../../images_v1/icon/icon-calendar.png);
							position : right 5px top 50%;
							repeat : no-repeat;
						}
						width : 200px;
						padding-right : 22px;
					}
					.input-hour,
					.input-min {
						width : 33px;
						text-align : center;
					}
					.start-time {
						margin-bottom : 7px;
					}
					.end-time {
						margin-bottom : 12px;
					}

				}
				.exposure-time-set {
					select {
						width : 200px;
						height : 25px;
					}
					.time-wrap {
						margin-top : 13px;
						margin-bottom : 16px;
						.time-wrap-heading {
							@include clfix;
							margin-bottom : 13px;
							.text-desc {
								&:before {
									content : '';
									display : inline-block;
									width : 10px;
									height : 10px;
									background-color : #3b5998;
									margin-right : 5px;
								}
							}
						}
						.text-hours {
							margin-top: 5px;
							span {
								display: inline-block;
								width: 45px;
								font-size: 11px;
							}
							.allday {
								margin-left: 5px;
							}
						}

						.time-zone {
							margin-left : -30px;
							.day .label, .everyday .label {
								float: left;
								width: 30px;
								height: 30px;
								line-height: 30px;

								//					text-align: right;
							}
							.day .label i, .everyday .label i {
								font-size: 11px;
								font-style : normal;
							}
							.day {
								@include clfix;
								&.first {
									.times .hour, .all-select-time {
										border-top: 1px solid #bdbfc4;
									}
								}

								.times {
									float : left;
									.hour {
										width: 15px;
										height: 30px;
										background-color: #f1f2f6;
										cursor: pointer;
										float: left;
										border-bottom: 1px solid #bdbfc4;
										border-right: 1px solid #fff;
										&.first {
											border-left: 1px solid #bdbfc4;
										}
										&.ui-selected {
											background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
											background: -webkit-linear-gradient(top, #6279ae, #5870a8);
											background-color: #5870a8;
											border-right: 1px solid #6d84b4;
										}
										&.nth-child-3 {
											border-right: 1px solid #bdbfc4;
										}
									}
								}
								.all-select-time {
									border-bottom: 1px solid #bdbfc4;
									border-left: 1px solid #bdbfc4;
									border-right: 1px solid #bdbfc4;
									cursor: pointer;
									float: left;
									width: 45px;
									height: 30px;
									margin-left: 4px;
									&.ui-selected {
										background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
										background: -webkit-linear-gradient(top, #6279ae, #5870a8);
										background-color: #5870a8;
									}
								}
							}
							.everyday {
								margin-top: 5px;
								.label {
									font-weight: 700;
								}
								.times .every-hour {
									width: 15px;
									height: 30px;
									cursor: pointer;
									float: left;
									border-bottom: 1px solid #bdbfc4;
									border-right: 1px solid #bdbfc4;
									border-top: 1px solid #bdbfc4;
									background-color: #fff;
									&.first {
										border-left: 1px solid #bdbfc4;
									}
									&.ui-selected {
										background: -webkit-gradient(linear, center top, center bottom, from(#6279ae), to(#5870a8));
										background: -webkit-linear-gradient(top, #6279ae, #5870a8);
										background-color: #5870a8;
										border-right: 1px solid #6d84b4;
									}
								}
							}
						}
						.desc {
							text-align : center;
							margin-top : 10px;
							font-weight : 300;
						}
					}
					td {
						padding-top : 7px;
					}
				}
				.status {
					select {
						width : 104px;
						height : 25px;
					}
				}
			}
		}
		.budget {
			padding-top : 92px;
			padding-left : 19px;
			padding-bottom : 87px;

			.table-popup-edit-campaign-budget {
				th {
					color : #3b5998;
				}
				input[type="text"]{
					width : 200px;
				}
				label {
					@include button-type-radio(false);
				}
				.text {
					line-height : 17px;
					margin-top : 15px;
					.text-color-blue {
						color : #3b5998;
					}
					.text-color-dark-blue {
						color : #2c4372;
					}
				}

			}
		}
	}
	.popup-footer {
		.btn-edit {
			@include button-style(100,25,15);
		}
		.btn-cancel {
			@include button-style(100,25,15,#ababab);
		}
	}
}


// 툴팁타입의 팝업
.popup-tooltip-type {
	background-color : #f0f0f0;
	border : 1px solid #3b5998;
	box-sizing : border-box;
	padding : 13px 15px 15px;
	position : absolute;
	width : 308px;
	z-index : 10;
	top : -1px;
	right : -319px;
	input[type="text"] {
		padding : 3px 7px;
	}
	&:before,
	&:after {
		display : block;
		content : '';
		position : absolute;
	}
	&:before {
		border-right : 8px solid #3b5998;
		border-top : 5px solid transparent;
		border-bottom : 5px solid transparent;
		left : -9px;
	}
	&:after {
		border-right : 7px solid #f0f0f0;
		border-top : 4px solid transparent;
		border-bottom : 4px solid transparent;
		left : -7px;
	}

	.popup-tooltip-container {
		padding : 0 10px;
	}

	.btn-align-center {
		margin-top : 25px;
		text-align : center;
		.btn-save {
			@include button-style(55,20,12);
		}
		.btn-cancel {
			@include button-style(55,20,12,#ababab);
		}
	}
}
.popup-cpc-ocpm {
	.tab-menu {
		@include clfix;
		border-bottom : 1px solid #d4d4d4;
		li {
			float : left;
			a {
				display : block;
				line-height : 23px;
				background-color : #fff;
				color : #3b5998;
				width : 69px;
				text-align : center;
				border-radius : 5px 5px 0 0;
				&.active,
				&:hover {
					color : #fff;
					background-color : #3b5998;
				}
			}
		}
	}
	.cpc ,
	.ocpm {
		p {
			> label {
				color : #3b5998;
				font-size : 12px;
				display : inline-block;
			}
		}
	}
	.cpc {
		p {
			margin-top : 24px;
			> label {
				width : 23px;
			}
		}
		input[type="text"]{
			width : 229px;
		}
	}
	.ocpm {
		.list-ocpm {
			li {
				margin-top : 5px;
				font-weight : 300;
				&:first-child {
					margin-top : 15px;
				}
				input[type="radio"]{
					margin-right : 5px;
				}
			}
		}
		p {
			margin-top : 5px;
			> label {
				width : 40px;
			}
			input[type="text"]{
				width : 212px;
			}
			&:first-child {
				margin-top : 20px;
			}
		}
	}
	&:before {
		top : 49px;
	}
	&:after {
		top : 50px;
	}
}

.popup-ad-set-name {
	padding-bottom : 35px;
	p {
		margin-top : 28px;
		input[type="text"]{
			width : 212px;
		}
		> label {
			display : inline-block;
			font-size :12px;
			color : #3b5998;
			text-align : center;
			width : 40px;
		}

	}
	&:before {
		top : 27px;
	}
	&:after {
		top : 28px;
	}
}
.popup-budget {
	padding-bottom : 35px;
	p {
		margin-top : 28px;
	}

	input[type="text"]{
		width : 75px;
	}
	.label-budget {
		width: 35px;
		text-align: center;
		font-size: 12px;
		color: #3b5998;
		display: inline-block;
		vertical-align : middle;
	}
	.radio-lifetime ,
	.radio-daily {
		@include button-type-radio(false);
		font-size : 12px;
		background-color : #fff;
	}
	&:before {
		top : 74px;
	}
	&:after {
		top : 75px;
	}

}


.popup-optimization-history {
	@include popup-default-style;
	width : 600px;
	position : relative;
	overflow : hidden;
	.popup-container {
		padding : 32px 18px;
		height : 250px;
		overflow-y : auto;

	}
	.content {
		@include clfix;
		border-top : 1px solid #dadada;
		padding : 18px 0;
		&:first-child {
			border-top : 0 none;
		}
		.date {
			float : left;
			width : 99px;
			font-size : 15px;
			color : #3b5998;
		}
		.desc {
			float : left;
			font-size : 13px;
			.time {
				color : #797979;
				margin-bottom : 5px;
			}
			ul {
				line-height : 18px;
				li {
					&:before {
						display : inline-block;
						vertical-align : middle;
						content : '';
						width : 13px;
						height : 5px;
						background : url(../../images_v1/icon/icon-blue-bull.png) no-repeat 0 50%;
					}
				}
			}
			strong {
				color : #3b5998;
			}
		}
	}
	.popup-footer {
		.btn-ok {
			@include button-style(100,25,15);
		}
	}
	.tooltip-optimization-history {
		color : #fff;
		background-color : #3b5998;
		border-radius : 5px;
		position : absolute;
		padding : 15px;
		opacity : 0;
		left : 9999px;
		p {
			font-size : 12px;
		}
		ul {
			font-size : 11px;
			font-weight : 300;
			li {
				&:before {
					content : '';
					display : inline-block;
					width : 4px;
					height : 4px;
					vertical-align : middle;
					background-image : url(../../images_v1/icon/icon-white-bull.png);
					margin-right : 8px;
				}
			}
		}
		.arrow {
			display : block;
			position : absolute;
			border-left : 5px solid transparent;
			border-right : 5px solid transparent;
			border-bottom : 6px solid #3b5998;
			top : -6px;
		}
	}
}
